
body {margin:0;font-family:Arial;
  font-size: 1.3rem;
  

}

#container{
 
}

div#baby-image img{

  max-height: 40rem;
  max-width: 50rem;
}
div#baby-image div.SoftSection{

 
 
}




.topnav {
  display: block;
  overflow: hidden;
  background-color: #333;
 
}

.topnav a {
  float: left;
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 19px;
  border:solid 5px #333;
  border-radius: 200px;
}

.topnav  .navlogo{
  
  float: right;
  
  
}


.active {
  background-color: #159c7d !important;
  color: white;
  border: #159c7d;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border:solid 5px #333;
   border-radius: 200px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border:solid 0px;
  border-radius: 00px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.topnav  .navlogo:hover{
  background-color:none;
  background-color: #333;
  text-decoration: underline;
  
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/*background-color: #666;*/
	}

#container {

}

main{

  padding: 20px;
}


p {
	margin-bottom: 20px;
}

p.shift {
  margin-left: 30px;
}

.listmargin  {
	margin-bottom: 20px;
}	

.img-style-1 {
	float: left;
	margin-right: 10px;
  margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #CCC;
}	








/*BEGIN RESUME AND COVER LETER*/
main.paper{



padding: 50px;
min-height: 1vh;

background-position: center center;
background-size: cover;
  
position: relative;

  display: block;
}

main.paper::before {
 
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 2vh;
  background-image: url(/assets/img/part2/nath.png);
  background-size: cover; /* Adjust as needed (e.g., contain, auto) */
  background-repeat: no-repeat; 
  opacity: 0.4; /* Adjust opacity from 0.0 (transparent) to 1.0 (opaque) */
  z-index: -1;
}

main.paper .page{

  background-color: #ffffff;
  width: 43%;
  padding: 20px 40px;
  
  box-shadow: 9px 12px 2px 1px rgba(2, 14, 27, 0.2);
  margin-bottom: 20px;

}

main.paper h1{
  
}
#CoverLetter{
  float: right;
  

}
#Resume{
  margin-right:auto ;

}  

#papercontainer{
  padding: 0 25px;
}


