
body {margin:0;font-family:Arial;
  font-size: 1.3rem;
  

}

#container{
 
}



#mini-banner
{
  padding: 10px;
  background-image: url(../img/thumbnail/d3c2.png);
   background-size: cover; /* Adjust as needed (e.g., contain, auto) */
  background-repeat: no-repeat; 
}
#mini-banner h2
{
  margin :30px;
  font-size: 3.8rem;
  color: #f9f9f9;
  
margin-left: 70%;
text-shadow: 2px 2px 7px rgba(0,0,0,0.85);
}


.topnav {
  
  display: block;
  overflow: hidden;
  background-color: #333;
 
}

.topnav a {
  float: left;
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 19px;
  border:solid 5px #333;
  border-radius: 200px;
}

.topnav  .navlogo{
  
  float: right;
  
  
}


.active {
  background-color: #159c7d !important;
  color: white;
  border: #159c7d;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border:solid 5px #333;
   border-radius: 200px;
   
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border:solid 0px;
  border-radius: 00px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.topnav  .navlogo:hover{
  background-color:none;
  background-color: #333;
  text-decoration: underline;
  
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/*background-color: #666;*/
	}

#container {

}

main{

}


p {
	margin-bottom: 20px;
}

p.shift {
  margin-left: 30px;
}

.listmargin  {
	margin-bottom: 20px;
}	

.img-style-1 {
	float: left;
	margin-right: 10px;
  margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #CCC;
}	

/*BEGIN Skills LETER*/

#main-skills{
  padding: 0;
}



#main-skills .Examplesstyle2 .graycard{
  height: 500px;
}
#main-skills .Examplesstyle3 .graycard{ 

  height: 400px;
}


#main-skills .Examplesstyle3 .individual{
display: block;
clear: both;
}

#main-skills .Examplesstyle2 .individual{
display: block;
clear: both;
}

#main-skills .Examplesstyle2 img{
  width: 350px;
  float: left;
  margin: 0 20px 30px 0px;
  border-radius: 10px;
  box-shadow: 10px 10px 1px #00000020;
}

#main-skills .Examplesstyle3 img{
  width: 300px;
  float: left;
  margin: 0 20px 30px 0px;
   border-radius: 10px;
  
    box-shadow: 0px 0px 1px 10px #00000020;
}




.Examplesstyle{
  
 margin: 10px 0px 60px 0px;
 color: #f8f7f7;
}
.Examplesstyle h2{
  margin-left: 40px; 
   margin-bottom: -8px;
   color: #767676;
   text-transform: uppercase;
}
.Examplesstyle h3{
  
   margin: 0px;
}
.Examplesstyle .graycard{
 padding: 40px 158px;
 margin: -50;
  background-color: #767676;
}




.Examplesstyle2{
  
 margin: 10px 0px 60px 0px;
 color: #000000;
}
.Examplesstyle2 h2{
  margin-left: 40px; 
   margin-bottom: -8px;
   color: #b8b7b7;
   text-transform: uppercase;
 
   
}
.Examplesstyle2 h3{
  
   margin: 0px;
}
.Examplesstyle2 .graycard{
 padding: 40px 158px;
 margin: -50;
  background-color: #c7c7c7;
}




.Examplesstyle3{
  
 margin: 0px 50px 0px 50px;
 color: #000000;
}
.Examplesstyle3 h2{
  margin-left: 40px; 
  
   color: #000000;
   text-transform: uppercase;
}
.Examplesstyle3 h3{
  
  
}
.Examplesstyle3 .graycard{
  padding: 0px 158px 60px 158px;
 margin: -50;
 
}



#Capstone .graycard{
 height: 250px !important;
 
 
}














/*BEGIN RESUME AND COVER LETER*/
main.paper{


background-color: rgba(184, 184, 184, 0.842);
padding: 50px;
min-height: 1vh;

background-position: center center;
background-size: cover;
  
position: relative;

  display: block;
}

main.paper::before {
 
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 2vh;
  background-image: url(../img/nath.png);

  background-size: cover; /* Adjust as needed (e.g., contain, auto) */
  background-repeat: no-repeat; 
  opacity: 1; /* Adjust opacity from 0.0 (transparent) to 1.0 (opaque) */
  z-index: -1;
}

main.paper .page{

  background-color: #ffffff;
  width: 43%;
  padding: 20px 40px;
  
  box-shadow: 9px 12px 2px 1px rgba(2, 14, 27, 0.2);
  margin-bottom: 20px;

}

main.paper h1{
  
}
#CoverLetter{
  float: right;
  

}
#Resume{
  margin-right:auto ;

}  

#papercontainer{
  padding: 0 25px;
}








  .slideshow {
    width: min(900px, 95vw);
    margin: auto;
  }
  .stage {
    position: relative;
    background: #000;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 16/9;
  }
  .stage img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    cursor: zoom-in;
  }
  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    width: 45px;
    height: 45px;
    font-size: 24px;
    border-radius: 6px;
    cursor: pointer;
  }
  .prev { left: 10px; }
  .next { right: 10px; }

  /* Lightbox overlay */
  .lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .lightbox img {
    max-width: 98%;
    max-height: 98%;
    display: block;
  }




  